table {
}

table thead tr th, table tfoot tr th {
	background-color: #808080;
	border: 1px solid #FFF;
	padding: 4px;
}

table thead tr .header {
	background-image: url(bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}

table tbody td {
	padding: 4px;
	vertical-align: center;
}

table thead tr .headerSortUp {
	background-image: url(asc.gif);
}
table thead tr .headerSortDown {
	background-image: url(desc.gif);
}

table thead tr .headerSortDown, table thead tr .headerSortUp {
	background-color: #666;
	color:#fff;
}

/* MENSAGENS DE INFORMAÇÃO */
.info, .success, .warning, .error{
	border-radius:5px;
    border: 1px solid;
    margin: 10px 0px;
	font-weight:bold;
    padding:15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
}

.info{
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url('info.png');
}

.success{
    color: #4F8A10;
    background-color: #DFF2BF;
	background-image:url(images/success.fw.png);
}

.warning{
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url(images/warning.fw.png);
}

.error{
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url(images/error.fw.png);
}


/* LISTAGEM DOS EVENTOS */
body { font-family:  cambria, georgia, sans-serif; font-size: 1em; }
.simple_jfaq { display: block; }
.simple_jfaq dt {
	background: #EDEDED;
	clear: both;
	margin: 2px;
	padding: 5px 10px;
	font-weight: bold;
	text-transform: uppercase;
}
.simple_jfaq dt.hover { background: #D4D4D4; }
.simple_jfaq dd {
	background: #CCF5FF;
	display: block;
	margin: 2px;
	padding: 6px 14px;
	overflow: hidden;
}


textarea{
	font-size:12px;
}